<h2>Welcome, <%= current_user.username %>!</h2>

<% @recipes.each do |recipe| %>
   <div class="recipe">
      <p> Recipe Name: <%=recipe.recipe_name %> <br> by <%= recipe.user.username %></p>
      <p> How it's made:<br><br><%=recipe.how_to_make %> </p>
       <% if recipe.user == current_user %>
      <p><a href="/recipes/<%= recipe.id %>/edit">Edit</a></p>
      <form action="/recipes/<%=  recipe.id %>" method='post'>
         <input type="hidden" name="_method" value="delete">
         <input type="submit" value="Delete">
      </form>  
      <% end %>
   </div>
<% end %>

<p><a href="/recipes/new ">Create a Recipe</a></p>